:root {
    --accent: rgba(255,0,255, .5);
    --foreground: #363636;
    --background: #ffffff;
    --grey: #e0e0e0;
}

.darktheme {
    --foreground: #ffffff;
    --background: #363636;
}
* {
    margin: 0;
    padding: 0;
    }
body {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 400;
    color: var(--foreground);
    background-color: var(--background);
}
h1 {
    font-family: "Rubik", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15vmin;
}
h2 {
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
h3 {
    font-size: 1rem;
    font-weight: 500;
}
.outer-container {
    position: relative;
}
canvas{
    display: block;
}
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0
}
.container {
    margin: 2rem 2rem;
}

/* Nav Styling */
nav {
    display: flex;
    flex-wrap: wrap;
}
ul{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    align-items: center;
}
nav a {
    color: var(--foreground);
    text-decoration: none;
    width: 100%; 
    margin-bottom: 1rem;
}

a.left {
    position: relative;
}
a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(255,255,255,0) 70%, var(--accent) 30%);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.left:hover:before {
    visibility: visible;
    width: 100%;
}
/* Styling for Dark/Light Mode Toggle */
.darkmode {
    border: none;
    background-color: transparent;
}
#icon {
    border-radius: 50%;
    border: 1px solid var(--grey);
    padding: 10px;
    width: 1rem;
}
i#icon {
    color: var(--foreground);
}
i#icon:hover {
    color: var(--background);
    background-color: var(--foreground);
    border: 1px solid var(--foreground);
}
.logo {
   padding-top: 1rem;
   font-weight: 700;
}
/* button:focus{
    outline: none;
    box-shadow: 0 0 0 5px rgba(255,0,255, .5);
    border-radius: 50%;
  } */

/* Header Styling */

header {
    height: 65vh;
    padding-top: 4rem;
    position: relative;
    z-index: 99;
}
.greeting p {
    font-size: 20px;
    line-height: 1.5;
}

a.l-blue:before {
    background: linear-gradient(180deg,rgba(255,255,255,0) 70%, rgba(0,255,255, .5) 30%);
 }
a.l-yellow:before{
    background: linear-gradient(180deg,rgba(255,255,255,0) 70%, rgba(255,255,0, .7) 30%);
 } 
 /* Styling for Highlighted text */
 mark {
     color: var(--foreground);
     background-color: (var(--background));
 }
.highlight {
    box-shadow: inset 0 -10px 0 rgba(255,0,255,.5);
 }
 .blue{
    box-shadow: inset 0 -10px 0 rgba(0,255,255,.5);
 }
 .yellow{
    box-shadow: inset 0 -10px 0 rgba(255,255,0,.7);
 }
 /* Projects */
 h2#projects {
     padding-top: 10px;
 }
/* Project Card Styling */
.projects {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
    z-index: 999;
    margin-bottom: 17rem;
}
.card {   
    height: 300px;
    color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card p {
    margin: 1rem;
}
.cardtitle{
    padding: 1rem 1rem;
}
.cardlinks {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 1rem;
    text-transform: lowercase;
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.cardlinks a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 4px solid transparent;
    padding-bottom: 5px;
}

.cardlinks i:hover, .cardlinks a:hover {
    color: rgba(0,255,255,1);
}
.project1 {
    background-image: url(/images/john-towner-89PFnHKg8HE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project2 {
    background: radial-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7) ), url('images/national-cancer-institute-L8tWZT4CcVQ-unsplash.jpg'); /* darkens image */
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}   
.project3 {
    color:black;
}
.project4 {
    color:black;
}
/* Contact Section */
.contact {
    margin-bottom: 3rem;
}
/* Footer Styling*/
    footer {
        font-size: 12px;
        margin-top: 2rem;
    }
@media only screen and (min-width: 700px) {
    h1 {
        font-size: 10vmin;
    }
}

/* Responsive Styling at 768px and up */
@media only screen and (min-width: 768px) {
    .container{
        padding: 1rem 3rem;
    }
   
    /* Nav Styling */
    nav {
        display: flex;
        flex-wrap: nowrap;
    }
    ul{
        display:flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        list-style: none;
    }
    li {
        margin-left: 2rem;
    }
    /* Header Styling */
    header {
        margin-top: 4rem;
        height: 50vh;
    }
    .greeting p {
        width: 95%;
        font-size: 24px;
    }
    /* Card Styling */
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4em;
        }
}

/* Responsive Styling at 1000px and up */
@media only screen and (min-width: 1200px) {
    .container{
        padding: 1rem 5.25rem;
    }
    header {
        height: 60vh;
    }
    .projects {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 3rem;
        }
    .greeting p {
        width: 65%;
    }
   
}
/* If mouse is available summary will be hidden and display on hover */
@media (hover: hover) {
    .summary {
        display: none;
    }
    .card:hover >.summary {
        display: block;
    }
    .card {
        transition: all .2s ease-in-out;
    }
    /* This "grows" card on hover */
    .card:hover {
        transform: scale(1.1);
        /* background-color: var(--accent);
        background-image: linear-gradient(
        to bottom, transparent, white
        ), url("Images/background.jpg");
        background-repeat: no-repeat;
        color: var(--foreground); */
    }

}