@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Playfair+Display:wght@400;600&display=swap');

body {
    font-family: "IBM Plex Mono";
    color: #212121;
}

h1 {
    font-family: "Playfair Display";
    font-size: 4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.container {
    padding: 1rem 2rem;
}

/* Nav Styling */
nav {
    display: flex;
    flex-wrap: wrap;
}
ul{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
a {
    color:#212121;
    text-decoration: none;
    width: 100%;
}

/* Header Styling */
.name {
    color: #D81B60;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

header {
    height: 65vh;
    padding-top: 4rem;
}

/* Responsive Styling at 768px and up */
@media only screen and (min-width: 768px) {
    .container{
        padding: 1rem 3rem;
    }
    /* Nav Styling */
    nav {
        display: flex;
        flex-wrap: nowrap;
    }
    ul{
        display:flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        list-style: none;
    }
    li {
        margin-left: 2rem;
    }
    /* Header Styling */
    header {
        margin-top: 4rem;
        height: 55vh;
    }
}

/* Responsive Styling at 1000px and up */
@media only screen and (min-width: 1000px) {
    .container{
        padding: 1rem 4rem;
    }