@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Playfair+Display:wght@400;600&display=swap');

:root {
    --pink: #D81B60;
    --notblack: #212121;
}

body {
    font-family: "IBM Plex Mono", monospace;
    color: var(--notblack);
}
h1 {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2rem;
}
.container {
    padding: 1rem 2rem;
}

/* Nav Styling */
nav {
    display: flex;
    flex-wrap: wrap;
}
ul{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    list-style: none;
}
a {
    color:#212121;
    text-decoration: none;
    width: 100%;
}

/* Header Styling */
.name {
    color: var(--pink);
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
header {
    height: 65vh;
    padding-top: 4rem;
}

/* Project Card Styling */
.projects {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}
.card {
    height: 400px;
    background-color: pink;
    border-radius: 50px;
}

/* Footer Styling*/
    footer, p {
        font-size: 12px;
    }

/* Responsive Styling at 768px and up */
@media only screen and (min-width: 768px) {
    .container{
        padding: 1rem 3rem;
    }
    /* Nav Styling */
    nav {
        display: flex;
        flex-wrap: nowrap;
    }
    ul{
        display:flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        list-style: none;
    }
    li {
        margin-left: 2rem;
    }
    /* Header Styling */
    header {
        margin-top: 4rem;
        height: 55vh;
    }
    /* Card Styling */
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        }
}

/* Responsive Styling at 1000px and up */
@media only screen and (min-width: 1000px) {
    .container{
        padding: 1rem 5rem;
    }
}